  /* setting and resetting */
  input{
    all: initial;
    }
   button {
    all: initial;
  }
  button:hover {
    cursor: pointer;
  }
  ::-webkit-scrollbar {
     width: 0; 
    height: 0;
  }
  .error {
    color: red;
    font-size: 0.7em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  

  /* MAIN */
html, body {
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: rgb(170, 233, 212);
    overflow: hidden;
    background: linear-gradient(to bottom, #5e07079d, #023b15);
    background-image: url(/Layouts/Files/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* CHAT PAGE */
#chat-page {
    margin: 0;
    padding: 0;
    display: block;
    top: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.692);
    overflow: auto;
}

/* the settings part */
div.settings {
    display: block;
    float: left;
    width: 30%;
    padding: 0;
    margin: 0;
    background-color: #010f1fec;
    position: fixed;
    overflow: auto;
    height: 100vh;
}
div.settings h2 {
    margin: 0em;
    color: #076d96;
    background-color: #01180be0;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 30%;
}
div.settings h2 p{
    margin: 0;
    padding: 0;
    width: fit-content;
    height: auto;
    padding-left: 0.3em;
    padding-top: 0.3em;
    max-height: none;
    float: left;
}
h2  img {
    padding: 0.2em;
    float: left;
}
#goBack {
    float: right;
    padding: 0.2em;
}
#goBack:hover {
    cursor: pointer;
    background-color: #000e0594;
    border-radius: 1em;
}
div.frames {
    margin: 0;
}
div.settings ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
div.settings li {
    list-style-type: none;
    padding: 0;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    padding-left: 0.7em;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #d4c0c0;
    font-size: larger;
    font-weight: 0.2em;
    border-bottom:solid rgba(5, 37, 78, 0.808) 0.1em;
}
div.settings li:hover {
    background-color: #07070769;
    cursor: pointer;
}
#home-link {
    margin-top: 3em;
}
#show_settings_button {
    display: none;
}
#close_show_settings_button {
    display: none;
}
div.settings li img {
    padding: 0;
    padding-right: 1em;
    padding-top: 0.1em;
}

/* dashboard part */
div.dashboard {
    display: block;
}

/*div containig a list of all inboxes*/
div.inbox {
    padding: 0;
    margin: 0;
    display: none;
    margin-top: 3em;
    height: 100vh;
}
div.inbox-details {
    color: #ffffff;
    margin: 0;
    padding: 0.3em;
}
div.inbox-details p{
    color: rgb(255, 255, 255);
    margin-left: 5em;
    overflow: hidden;
    font-size: smaller;
    text-overflow: ellipsis;
    max-height: 2.7em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 0.3em;
}
div.inbox-details:hover {
    background-color: #7a75752f;
    cursor: pointer;
}
div.inbox-details strong{
    color: #839e9d;
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: smaller;
}
div.inbox-details img{
    background-color: #2b4736;
    border-radius: 2em;
    padding: 0.2em;
    margin-top: 0.5em;
    float: left;
    margin-left: 1em;
}
mark {
    color: #17492b;
    float: right;
    margin-right: 0.3em;
    background-color: rgba(23, 23, 134, 0);
}
/*option add a new group */
div.addnew {
    overflow: visible;
    color: #086e69;
    height: 100vh;
    display: none;
    margin-top: 3em;
    padding: 2em;
}
div.addnew button{
    border-style: solid;
    border-width: 0.1em;
    text-align: center;
    padding: 0.5vw;
    width: auto;
    border-radius: 0;
    border-color: #0c8992;
    margin-left: 30%;
    color: #c2ecf7;
    font-size: 1em;
    background: linear-gradient(to left, rgba(0, 0, 255, 0.295), rgba(0, 128, 0, 0.199));
    border-radius: 0.2em;
}
div.addnew button:hover{
    background: linear-gradient(to left, rgba(0, 128, 0, 0.158), rgba(0, 0, 255, 0.144));
    border-radius: 0.5em;
}
div.addnew textarea{
    background-color: #6ecfa800;
    margin: 0;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    border-color: #1b970b6e;
    border-style: solid;
    border-width: 0.1em;
    color: #ffffff;
    padding: 0.2em;
    overflow: none;
}
div.addnew input {
    padding: 0.7em;
    margin: 0;
    border-style: solid;
    box-shadow: none;
    border-color: #1b970b6e;
    border-width: 0.1em;
    width: 86%;
    color: #ffffff;
}
div.addnew select {
    background-color: #6ecfa800;
    width: 86%;
    color: #f5e8e8;
    padding: 0.5em;
    margin: 0.2vw;
    border-style: solid;
    border-color: #1b970b6e;
    border-width: 0.1em;
}
/* the div containing the list of groups */
div.groups {
    margin: 0;
    display: none;
    margin-top: 3em;
}
div.group-details {
    color: #5b8381;
    margin: 0;
    padding: 1em;
    padding-left: 0;
}
div.group-details:hover {
    background-color: #74948046;
    cursor: pointer;
}
div.group-details p{
    color: rgb(108, 158, 160);
    margin-left: 5em;
    overflow: hidden;
    font-size: smaller;
    text-overflow: ellipsis;
    max-height: 2.4em; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 0.3em;
}
div.group-details strong{
    color: #1f992f;
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: smaller;
}
div.group-details img{
    background-color: #9da5a0;
    border-radius: 2em;
    padding: 0.2em;
    margin-top: 0.5em;
    float: left;
    margin-left: 1em;
    width: 2vw;
    height: 2vw;
}
mark {
    color: #7aa089;
    float: right;
    margin-right: 0.3em;
    background-color: rgba(23, 23, 134, 0);
}
/* div that contains the account details */
div.account {
    display: none;
    height: 100vh;
}
div.account img{
    background-color: #75366d56;
    border-radius: 10em;
    padding: 0.5em;
    margin: 0em;
    margin-top: 5em;
}
div.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}
div.account-username {
    width: 99%;
    padding: 0em;
    text-align: center;
    border-bottom:solid 0.1em black;
    padding-bottom: 1em;
}
div.account-phonenumber {
    width: 99%;
    margin-top: 3vw;
    padding: 0em;
    text-align: center;
    border-bottom:solid 0.1em black;
    padding-bottom: 1em;
}
div.joindate{
    width: 99%;
    margin-top: 3vw;
    padding: 0em;
    text-align: center;
    padding-top: 0em;
    border-bottom:solid 0.1em black;
    padding-bottom: 1em;
}
div.account p{
    text-align: left;
     font-size: 0.7em;
    top: 0;
    padding-left: 1em;
    color: #7479aaab;
    font-weight: bold;
}
div.account strong {
    background-color: #01180a00;
    text-align: center;
    color: #5bc58c;
    font-weight: normal;
}
div.account em{
    float: none;
    font-size: large;
    color: #15e026;
}
/* div that contains info about wechat */
div.about-us {
    color: #ada7a7;
    height: 100vh;
    padding: 0;
    margin: 0;
    margin-top: 3em;
    top: 0;
    display: none;
}
div.about-us p{
    text-align: start;
    padding: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 0.8em;
}
div.about-us a{
    border: none;
    color: rgb(0, 183, 255);
    text-decoration: underline;
}
footer p {
    color: #14d85f;
    font-style: italic;
    font-size: 0.8em;
}
/*  THE CHATTING PART */
div.chat-container {
    overflow: auto;
    width: 70%;
    padding-bottom: 10%;
    padding: 0;
    height: 100vh;
    float: right;
    border-style: solid;
    border-width: 0.1em;
    border-color: #04fa98;
}
div.chat-container h1 {
    background: linear-gradient(to bottom, #03611a28, #07577723);
    color: #0a4608;
    font-size: 0.8em;
    top: 0;
    position: fixed;
    width:75%;
    text-align: center;
    padding: 0;
    margin: 0;
}
div.chat-container h1>button {
    float: left;
}

div.messages {
    overflow: visible;
    margin-top: 7%;
    margin-bottom: 10%;
    
    
}

/* the chatting part */
div.chat-container {
    overflow: auto;
    background: linear-gradient(to bottom, #010b25c9, #01201ad0);
    width: 70%;
    padding-bottom: 10%;
    padding: 0;
    height: 100vh;
    float: right;
}
div.chat-container h1 {
    background: linear-gradient(to bottom, #0120127a, #02063f4d);
    color: #0ab479;
    font-size: 0.8em;
    top: 0;
    position: fixed;
    width:75%;
    text-align: center;
    margin: 0;
}
div.chat-container h1>button {
    float: left;
}

div.messages {
    overflow: visible;
    margin-top: 3vw;
    margin-bottom: 10%;
}
/* the text entering part */
div.enter-text {
    display: none;
    width: 67%;
    height:fit-content;
    position: fixed;
    bottom: 0;
    padding: 0vw;
    overflow: hidden;
    border-radius: 1em;
    border-color: rgba(15, 15, 100, 0.082);
    border-style: solid;
    margin: 1.2vw;
    background-color: rgba(211, 211, 211, 0);
    border-width: 0.4em;
    vertical-align: middle;
}
div.enter-text input {
    padding-right: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-indent: 3em;
    border-radius: 2em;
    width: 95%;
    border-width: 0.2vw;
    border-style: solid;
    border-color: rgb(4, 78, 48);
    color: rgb(96, 132, 161);
    background-color: rgba(71, 163, 155, 0.123);
    font-size: 1.3em;
    position: relative;
}
div.enter-text input:focus {
    background-color: rgb(166, 197, 197);
    color: rgb(3, 38, 66);
    border-color: #013613;
}
div.enter-text button {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5em;
    border: none;
    color: rgb(8, 131, 24);
    font-weight: bold;
    background-color: rgba(12, 14, 15, 0);
    position: absolute;
    right: 0;
    width: fit-content;
    top: 0;
    bottom: 0;
    padding: 0.2em;
}
#add-file-button {
   left: 0;
}
div.enter-text img {
    width:3vw;
    height: 2.5vw;
}


/* the received messages part */
div.recieved-container {
    overflow: hidden;
    clear: right;
    background-color: #04473800;
    width: auto;
    height: fit-content;
    margin-left: 3vw;
}
div.recieved {
    width: fit-content;
    max-width: 50%;
    min-width: 30%;
    background-color: rgba(40, 48, 48, 0.897);
    margin: 0em 1em 1em 1em;
    margin-bottom: 3vw;
    border-radius: 1em;
    padding: 0.5vw;
    border-style: solid;
    border-color: rgba(127, 139, 18, 0);
    border-width: 0.1vw;
    left: 0;
    flex: 0;
    clear: right;
    float: left;
    font-size: 0.7em;
}
div.recieved strong {
    color: rgb(106, 167, 167);
    font-size: 0.7em;
    margin-left: 1vw;
    margin-right: 1em;
}
div.recieved p {
    color: rgb(219, 211, 211);
    padding: 1em;
    font-size: 1em;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sender-pic {
    float: left;
    background-color: rgba(44, 43, 43, 0.685);
    padding: 0.5vw;
    border-radius: 3vw;
    margin-left: 0.5vw;
}
.sender-pic img {
    width: 1.5vw;
    height: 1.5vw;
}
/* the sent messages part */
.sent-container {
    overflow: hidden;
    clear: right;
    background-color: #2a6b5d00;
    width: auto;
    height: fit-content;
    margin-right: 3vw  ;
    margin-bottom: 1vw;
}
div.sent {
    overflow: hidden;
    width: fit-content;
    max-width: 50%;
    min-width: 30%;
    background-color: rgba(33, 36, 35, 0.959);
    margin: 0em 1em 1em 1em;
    border-radius: 1em;
    border-style: solid;
    border-color: rgba(18, 139, 139, 0);
    border-width: 0.1vw;
    right: 0;
    float: right;
    padding: 0.2vw;
    clear: left;
    font-size: 0.7em;
}
.profile-pic {
    float: right;
    background-color: rgba(27, 29, 27, 0.74);
    padding: 0.5vw;
    border-radius: 1vw;
    margin-right: 0.5vw;
}
.profile-pic img {
    width: 1.5vw;
    height: 1.5vw;
}
div.sent strong {
    color: rgb(12, 133, 103);
    font-size: 0.7em;
    margin-left: 1em;
    margin-right: 1vw;
}
div.sent p {
    color: rgb(209, 196, 196);
    padding: 1em;
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

em {
    float: right;
    font-size: 0.7em;
    margin-right: 1em;
    color: rgb(97, 204, 204);
    font-style: normal;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
/*Container for updates and warning*/
div.update-container {
    color: red;
    text-align: center;
    width: 100%;
   }
   div.warning {
     background-color: #02173300;
     color: rgb(192, 64, 64);
   }
   div.warning p{ 
       width: 30%;
       margin-left: 35%;
       margin-right: 35%;
       background-color: #748b0b27;
       border-radius: 0.5vw;
       padding: 0.4vw;
       font-size: 0.7em;
       font-weight: bold;
   }
   div.update {
       background-color: #25584700;
       color: rgb(84, 116, 148);
   }
   div.update p{ 
       width: 30%;
       margin-left: 35%;
       margin-right: 35%;
        background-color: #2ac71213;
        border-radius: 0.5vw;
        padding: 0.4vw;
        font-weight: bold;
        font-size: 0.7em;
   }
/* for smaller screens */
@media (max-width: 1200px) {
    div.settings {
        display: none;
        width: fit-content;
        background-color: #011620f5;
        z-index: 50;
        overflow: auto;
    }
    div.settings h1 {
        width: 2%;
        background: linear-gradient(to left, #03523621, #00000018);
         }
    #show_settings_button {
        display: block;
        z-index: 100; 
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
    }
    #close_show_settings_button{
        display: block;
    }
    div.chat-container {
        width: 100%;
    }
    div.enter-text input {
        width: 96.7%;
    }
    div.enter-text {
        width: 99%;
        margin: 0;
    }
    DIV.chat-container h1 {
        width: 100%;
    }
}
@media (max-width: 600px) {
    div.enter-text img {
        width:6vw;
        height: 4.5vw;
    }
    div.messages {
        overflow: auto;
        margin-top: 7vw;
    }
    div.sent {
        max-width: 70%;
        min-width: 50%;
    }
    .profile-pic img {
        width: 5vw;
        height: 5vw;
    }
    div.recieved {
        max-width: 70%;
        min-width: 50%;
    }
    .sender-pic img {
        width: 5vw;
        height: 5vw;
    }
    div.settings {
        display: none;
        width: 70%;
        background-color: #011620f5;
        z-index: 50;
    }
}

/* a floating action button */
#floating-buttons-container {
    display: none;
    width: fit-content;
    height: fit-content;
    position: fixed;
    float: left;
    margin-left: 1.5%;
    bottom: 12%;
    z-index: 30;
}
.floating-buttons {
    background-color: rgb(210, 216, 205);
    padding: 0.8em;
    border-radius: 100%;
    margin: 0.3em;
    
}
.floating-buttons img {
    width: 1em;
    height: 1em;
}
