:root {
      /* backgrounds */
      --bg-primary: rgb(6, 81, 124);
      --bg-secondary: rgb(212, 107, 9);
}

/* CHAT PAGE STYLE */
.chat-page {
      display: grid;
      grid-template-columns: 30% 70%;
      margin: 0;
      overflow: hidden;
      height: 100vh;
}

/* PAGE NAV CONTAINERS */
.nav-container {
      display: grid;
      grid-template-columns: 15% 85%;
}

.nav-content-container {
      display: grid;
      grid-template-rows: 10vh 90vh;
}

.nav-content {
      display: grid;
      grid-template-rows: 10vh 80vh;
}

.nav-icons {
      background-color: var(--bg-primary);
}

/* nav heading styling */

.nav-heading div{
      width: 30%;
      height: 50%;
}

.nav-heading button {
      border: none;
      text-align: center;
}

.sorted-by {
      color: var(--color-emphasis);
      text-align: center;
}


/* Style the buttons as needed */
.nav-icons {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
}

.nav-icons .top {
      height: 60%;
      width: 80%;
}

.nav-icons .bottom {
      height: 15%;
      width: 80%;
}


.chat-button {
      color: #fff; /* Button text color */
      border: none;
      border-radius: 4px;
      padding: auto;
      cursor: pointer;
      margin: auto;
      position: relative;
      width: 100%;
      height: 5vh;
}

/* Style the tooltips */
.tooltip-container {
      display: flex;
      align-items: center;
      justify-content: center;
      word-wrap: none;
      text-overflow: ellipsis;
      text-align: center;
      background-color: rgb(1, 50, 82);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      visibility: hidden;
      border-radius:0 10px 10px 10px;
      position: absolute;
      z-index: 1;
      font-size: 0.7em;
      font-weight: bold;
      bottom: -20%;
      left: 225%;
      width: 120px;
      height: 30px;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.2s ease-in, visibility 0.2s ease-in, width 0.5s ease-in;
}

.tooltip {
      font-family: 'Poppins', sans-serif;
}

.tooltip-container::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 10px solid rgb(1, 50, 82);
      top: 15%;
      /* Adjust positioning to be in line with parent's top border */
      left: -3%;
      /* Align with parent's left border */
      transform: translateY(-50%);
      /* Center vertically */
      z-index: 2;
}
.chat-button i {
      font-size: 1.5em;
      color: rgb(212, 212, 212);
}

/* Show the tooltip on hover */
.chat-button:hover .tooltip-container {
      visibility: visible;
      opacity: 1;
}



/* Style the search bar container */
.chat-search {
      display: flex;
      align-items: center;
      border: 1px solid #def7ff00;
      box-shadow: #a8bbc234 1px 1px 2px 2px;
      border-radius: 5px;
      padding: 5px;
      background-color: #fff;
      width: 80%;
      /* Adjust the width as needed */
}

/* Style the search icon */
.chat-search i {
      margin-right: 5px;
      color: #02577e;
}

/* Style the search input */
.chat-search input[type="text"] {
      border: none;
      outline: none;
      width: 100%;
      font-size: 16px;
      padding: 5px;
}

/* Style the placeholder text */
.chat-search input[type="text"]::placeholder {
      color: #acbebe;
}


/* chats view style */
.view-content {
      overflow-y: auto;
      box-sizing: border-box;
}

/* Style the thumb of the scrollbar */
.view-content::-webkit-scrollbar-thumb {
      background-color: #d1d1d1;
      /* Change to your desired color */
      border-radius: 4px;
      /* Make the thumb rounded */
}

/* Style the track of the scrollbar (the empty space) */
 .view-content::-webkit-scrollbar-track {
      background: none;
      /* No background color */
}

/* For Firefox */
 .view-content {
      scrollbar-width: thin;
      scrollbar-color: #d3d3d3 transparent;
      /* Change to your desired color */
}

/* For Edge */
 .view-content {
      -ms-overflow-style: none;
      /* Hide scrollbar in Edge */
}

.view-content::-webkit-scrollbar-thumb:hover {
      background-color: #055275;
      /* Change to your desired hover color */
}

.chat {
      background-color: rgb(255, 251, 245);
      display: grid;
      grid-template-columns: 20% 60% 20%;
      overflow: hidden;
      border-radius: 3px;
      height: 10%;
      margin: 20px auto;
      width: 90%;
      font-size: smaller;
      cursor: pointer;
      border-left: 3px solid transparent;
}
.chat:hover {
      border-left: 3px solid rgb(2, 67, 104);
}
.chat div{
      display: flex;
      align-items: center;
      justify-content: center;
}



.chat img {
      width: 40px;
      height: 40px;
      margin: auto;
      border-radius: 50px;
}

.chat-body {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
}

.chat-info{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.chat-info div{
      margin: auto;
}

.msg-count-badge {
      background-color: rgb(0, 92, 128);
      width: 15px;
      height: 15px;
      color: #fff;
      font-weight: bold;
      font-size: 0.5em;
      border-radius: 20px;
      text-align: center;
}

.last-msg-time {
      color: rgb(0, 92, 128);
      font-size: 0.6rem;
}



/* MAIN PAGE CONTAIINERS */
.main-container {
      display: grid;
      grid-template-rows: 10% 90%;
}

.main-content {
      display: grid;
      grid-template-rows: 10% 80% 10%;
}

.main-header {
      display: grid;
      grid-template-columns: 30% 70%;
}

.main-header button {
      color: #007bff;
      border: none;
}

.main-header div {
      margin: auto 10px;
}

.main-header h2{
      margin: auto;
      font-size: smaller;
}


.main-header a {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      margin: auto;
}
.my-profile {
      width: 20%;
}

.my-profile img {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      margin: auto;
}

/* content heaading */
.content-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: smaller;
      box-shadow: 1px 3px rgba(0, 0, 0, 0.055);
      z-index: 1;
}

.content-heading div {
      width: 15%;
}

.content-heading button {
     border: none;
     color: gray;
}

.sender-profile img{
      width: 40px;
      height: 40px;
      border-radius: 50px;
      margin: auto;
}

/* messages styling */
.content-container {
      padding: 1% 2.5%;
      overflow: auto;
      height: 72vh;
}

.received-messages {
      display: grid;
      grid-template-columns: 2vw auto;
      margin-bottom: 10px;
      width: fit-content;
      max-width: 70%;
      min-width: 25%;
      float: float;
      clear: both;
 }

.received-messages .message-content {
      background-color: #f0f0f0;
      color: rgb(4, 48, 73);
      padding: 10px;
      border-radius: 0 10px 10px 10px;
 }

 .sent-messages {
      display: grid;
      grid-template-columns: auto 2vw;
      color: #fff;
      float: right;
      clear: both;
      max-width: 70%;
      min-width: 25%;
      margin-bottom: 10px;
 }

 .sent-messages img {
      margin: auto;
      margin-top: 0;
      margin-right: 0;
 }

.sent-messages .message-content {
      background-color: #07466b;
      padding: 10px;
      border-radius: 10px 0 10px 10px;
}
 /* Style for the message text */
 .message-text {
       flex-grow: 1;
 }

 /* Style for the message image */
 .message-image {
       width: 20px;
       height: 20px;
       border-radius: 25px;
 }





/* MESSAGE TEXT ADDING */
.chat-bar {
      width: 100%;
}

.chat-bar i {
      margin-right: 10px;
      font-size: 20px;
      color: #044766;
      cursor: pointer;
}
.file-btn-container {
      width: 10%;
}

.input-area {
      width: 60%;
      overflow: hidden;
      
}

.chat-input {
      font-family: 'Poppins', sans-serif;
      flex-grow: 1;
      border: none;
      outline: none;
      padding: 5px;
      background-color: rgb(243, 243, 243); 
      max-width: 100%;
      min-width: 100%;
      resize: none;
      border-radius: 10px;
      padding: 10px;
      padding-bottom: 0;
      color: #07466b;
}

.send-button {
      color: #03687a;
      border: none;
      cursor: pointer;
}

