/* CHAT PAGE */
/* sidebar styling */
.chat-navigation {
      height: 100vh;
      display: grid;
      grid-template-rows: 7% 93%;
      box-shadow: 2px 4px 7px var(--messages-heading-shadow);
}


.menu {
      display: grid;
      grid-template-columns: 10% 80% 10%;
      background-color: var(--chats-heading-bg);
}

.menu>div {
      display: flex;
      align-items: center;
      justify-content: center;
}

#menu-toggle {
      background-color: transparent;
      border: none;
}

/* chats */
#chats {
      overflow: auto;
      border-top: 2px double var(--menu-border-color);
}

#chats::-webkit-scrollbar {
      width: 2px;
}

#chats::-webkit-scrollbar-thumb {
      background-color: var(--scroll-bar-thumb-bg);
      border-radius: 5px;
}

.chat {
      width: 95%;
      height: 10vh;
      background-color: var(--chat-bg);
      border-radius: 2px;
      box-shadow: 0px 2px 0px var(--chat-shadow);
      margin: 3px auto;
      display: flex;
      align-items: center;
      padding: auto 20px;
      transition: scale 0.1s ease-in-out, background-color .5s ease-in-out;
}

.chat:hover {
      background: var(--chat-hover-bg);
      cursor: pointer;
}

.chat>img {
      border: 1px solid var(--img-border-color);
      max-width: 25px;
      max-height: 25px;
      border-radius: 20px;
      margin: 10px;
}

/* chat page styling */
.chat-page {
      display: grid;
      grid-template-columns: 25% auto;
      height: 100vh;
      max-height: 100vh;
      overflow: hidden;
}

@media screen and (max-width: 1000px) {

      .chat-page {
            display: grid;
            grid-template-columns: 100%;
            height: 100vh;
            max-height: 100vh;
            overflow: hidden;
      }

      .chat-navigation {
            display: grid;
      }

      #messages {
            height: 100vh;
            display: none;
            grid-template-rows: 7vh 83vh 10vh;
      }
}

/* messages styling */
#messages {
      height: 100vh;
      display: grid;
      grid-template-rows: 7vh 83vh 10vh;
}
#side-menu-btn {
      display: none;
}
.messages-heading {
      height: 7vh;
      position: sticky;
      display: grid;
      box-shadow: 1px 2px 2px var(--messages-heading-shadow);
      grid-template-columns: 10% 10% 70% 5%;
}

.messages-heading div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
}

.messages-heading img {
      border: 1px solid var(--img-border-color);
      height: 30px;
      width: 30px;
      margin-bottom: 5px;
      border-radius: 15px;
}

#view-messages {
      overflow-y: auto;
}

.message-info {
      font-size: 0.7em;
      display: grid;
      grid-template-columns: 50% 50%;
      height: 30%;
}

.message {
      width: fit-content;
      border-radius: 20px;
      max-width: min(60%, 500px);
      box-shadow: 1px 2px 1px 2px var(--message-shadow);
      margin: 20px;
      padding: 10px;
      clear: both;
}

.message img {
      max-width: 20px;
      max-height: 20px;
      overflow: hidden;
      border: 1px solid var(--img-border-color);
      border-radius: 15px;
}

.recieved {
      float: left;
      border-radius: 0 15px 15px 15px;
      background-color: var(--recieved-message-bg);
}

.sent {
      border-radius: 15px 0 15px 15px;
      float: right;
      background-color: var(--sent-message-bg);
}

/* writing a message */
#write-message {
      display: grid;
      grid-template-columns: 20% 70% 10%;
}

#write-message>div {
      display: flex;
      align-items: center;
      justify-content: center;
}

#add-files {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
}

.toggle-buttons {
      display: none;
}

@media screen and (max-width: 1000px) {
      #side-menu-btn {
            display: block;
      }
      #write-message {
            grid-template-columns: 20% 60% 20%;
      }

      #add-files {
            display: none;
      }

      .toggle-buttons {
            display: block;
      }
}

#send-button {
      width: 40%;
      height: 50%;
}

textarea {
      max-height: 70%;
      width: 100%;
      height: inherit;
      outline: none;
      background-color: transparent;
      border: 2px solid var(--textarea-border-color);
      border-radius: 15px;
      box-shadow: 1px 2px 2px 2px var(--text-area-shadow);
      font-size: 1em;
      resize: none;
      padding: 10px 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}