/* FORMS */
.form-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      transition: height 1s ease-in;
}

.form-container>h1 {
      color: var(--form-header-color);
}

form {
      width: 350px;
      margin: 20px auto;
      margin-top: 40px;
      padding: 20px;
      border-radius: 10px;
      background: var(--form-bg);
      box-shadow: 1px 1px 2px 2px var(--form-shadow);
}

label {
      display: flex;
      font-weight: 450;
      margin-bottom: 10px;
}

input[type="text"],
input[type="phone"],
input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid var(--input-border-color);
      background-color: var(--input-bg);
      border-radius: 4px;
      box-shadow: 1px 1px 1px 1px var(--input-shadow);
      transition: box-shadow 1s ease-in-out, border-color 1s ease-in-out;
}

input[type="text"]:focus,
input[type="phone"]:focus,
input[type="password"]:focus {
      outline: none;
      border: 1px solid var(--input-focus-border-color);
      box-shadow: none;
}

button.btn {
      width: 100%;
      padding: 10px;
      background-color: var(--btn-bg);
      color: var(--btn-text-color);
      border: none;
      border-radius: 20px;
      cursor: pointer;
}

button.btn:hover {
      background-color: var(--btn-hover-bg);
}

.google-sign {
      margin: 20px auto;
      background-color: transparent;
      width: 350px;
      padding: 10px;
      font-size: 1em;
      border: 2px solid var(--google-auth-border-color);
      border-radius: 20px;
      cursor: pointer;
      color: var(--google-auth-border-color);
      transition: border-color color 0.2s ease-in-out;
}

.google-sign:hover {
      animation: googleColors 1.5s infinite;
}

@keyframes googleColors {
      0% {
            border-color: #0048bb;
            color: #0048bb;
      }

      25% {
            border-color: #00af5b;
            color: #00af5b;
      }

      50% {
            border-color: #c29e00;
            color: #c29e00;
      }

      75% {
            border-color: #b80f00;
            color: #b80f00;
      }

      100% {
            border-color: #008db1;
            color: #008db1;
      }
}