:root {
      --button-color: blue;
}



/* Style for all the elements and the page */
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
i {
      margin-right: 10px;
      color: #0056b3;
      font-size: 1.5em;
      font-weight: bold;
}

img {
      background-color: #0f241e00;
}

button {
      background-color: transparent;
      border: none;
}

body, html {
      font-size: 1em;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
      width: 3px;
}
::-webkit-scrollbar-thumb {
      background-color: #acacac;
      border-radius: 5px;
}

/* HOME PAGE */
/* Styling the header */
header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
}
.scrolled {
      background-color: rgba(255, 255, 255, 0.815);
      backdrop-filter: blur(10px);
      position: fixed;
      box-shadow: 1px 2px 2px rgba(170, 170, 170, 0.171);
}

nav {
}

nav > a {
      margin:0 20px;
      text-decoration: none;
}


nav > a:visited {
      color: #0056b3;
}

nav > a:hover {
      color: #00ffb3;
}

.logo {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #00ffb3;
}
.logo > span {
      margin-left: 10px;
}

/* Styling the main content of the page */
main {
      min-height: 100vh;
}
.intro {      
      height: 92vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1em;
      color: #00ffb3;
}

.features{
      background: linear-gradient(to bottom, rgb(180, 255, 255),rgb(128, 255, 202));
      min-height: 70vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
}
.features div h1 {
      text-align: center;
      color: white;
      font-size: 2em;
      text-decoration: underline #00ffb3;
}
.features div > ul li {
      list-style: none;
      background-color: white;
      margin: 10px;
      border-left: 3px solid #00ffb3;
      color: #00ffb3;
      font-weight: bold;
      padding: 5px;
      border-radius: 3px;
      box-shadow: 1px 2px 1px rgba(4, 4, 105, 0.192);
}
.features img {
      float: right;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.171);
      border-radius: 25px;
}

.about-us {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.join-us {
      min-height: 60vh;
}
.join-us div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;
}
.join-us div a {
      border: 2px solid blue;
      padding: 10px;
      border-radius: 25px;
}
/* Styling the footer part of the page */
footer {
      background-color: rgb(235, 235, 235);
      min-height: 50vh;
      color: rgb(0, 0, 0);
      display: grid;
      grid-template-rows: 80% 20%;
}
.links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 100px;
}

footer ul {
      list-style-type: none;
}
li  a:visited {
      color: #002cbb;
}
li  a:hover {
      color: #00c3ff;
}
.copyrights > hr{
      margin: 10px;
      border: 1px solid rgba(128, 128, 128, 0.411);
}
.copyrights {
      text-align: center;
}





/* FORMS */
.form-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      transition: height 1s ease-in;
      /* background: linear-gradient(to bottom, rgb(13, 143, 143), rgb(0, 122, 92)); */
}
.form-container > h1 {
      color: rgb(0, 106, 124);
}

form {
      width: 350px;
      margin: 20px auto;
      margin-top: 40px; 
      padding: 20px;
      border-radius: 10px;
      background-color: #f8f8f83a;
      background: linear-gradient(to bottom, rgba(84, 248, 248, 0.815), rgba(90, 250, 210, 0.884));
      box-shadow: 1px 1px 2px 2px rgba(32, 31, 31, 0.253);
   }
   
   label {
      display: flex;
      font-weight:450;
      margin-bottom: 10px;
      color: rgb(0, 0, 0);
   }
   
   input[type="text"],
   input[type="phone"],
   input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid rgba(4, 75, 58, 0);
      background-color: #ffffffc4;
      border-radius: 4px;
      box-shadow: 1px 1px 1px 1px rgba(53, 50, 50, 0.13);
      transition: box-shadow 1s ease-in-out, border-color 1s ease-in-out;
   }

   input[type="text"]:focus,
   input[type="phone"]:focus,
   input[type="password"]:focus {
      outline: none;
      border: 1px solid #007bff;
      box-shadow: none;
   }
   
   button.btn {
      width: 100%;
      padding: 10px;
      background-color: #007bff; 
      color: #fff; 
      border: none;
      border-radius: 20px;
      cursor: pointer;
   }
   
   button.btn:hover {
      background-color: #0056b3; 
   }

   .google-sign {
      margin: 20px auto;
      background-color: transparent;
      width: 350px; 
      padding: 10px;
      font-size: 1em;
      border: 2px solid #00aeff;
      border-radius: 20px;
      cursor: pointer;
   }

   .google-sign:hover {
      border-color: #e703fc;
   }







/* chat variable */
:root {
      /* borders */
      --img-border-color: blue;
      --textarea-border-color: rgb(122, 247, 226);
      --menu-border-color: gray;

      /* backgrounds */
      --sidebar-bg: white;
      --chats-bg:white;
      --chat-bg: white;
      --chat-hover-bg: linear-gradient(to left, rgb(191, 255, 250), rgb(196, 255, 232));
      --messages-heading-bg: white;
      --chats-heading-bg: white
      --view-messages-bg: white;
      --recieved-message-bg: rgba(179, 255, 221, 0.712);
      --sent-message-bg: rgba(180, 255, 248, 0.699);
      --write-message-bg: white;

      /* shadows */
      --messages-heading-shadow: rgba(0, 0, 0, 0.062);
      --chat-shadow: rgba(0, 0, 0, 0.062);
      --text-area-shadow: rgba(0, 119, 255, 0.123);
      --message-shadow: rgba(46, 46, 46, 0.055);
      /* colors */
      --chat-color: black;

}



/* CHAT PAGE */
/* sidebar styling */
.chat-navigation {
      height: 100vh;
      display: grid;
      grid-template-rows: 7% 93%;
      box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.26);
}

.menu {
      display: grid;
      grid-template-columns: 10% 80% 10%;
      background-color: var(--chats-heading-bg);
}
.menu > div {
      display: flex;
      align-items: center;
      justify-content: center;
}
#menu-toggle {
      background-color: transparent;
      border: none;
}
/* chats */
#chats {
      overflow: auto;
      border-top: 2px double rgba(0, 68, 68, 0.055);
}
#chats::-webkit-scrollbar {
      width: 2px;
}

#chats::-webkit-scrollbar-thumb {
      background-color: #acacac;
      border-radius: 5px;
}

.chat {
      width: 95%;
      height: 10vh;
      background-color: var(--chat-bg);
      border-radius: 2px;
      box-shadow: 0px 2px 0px var(--chat-shadow);
      margin: 3px auto;
      display: flex;
      align-items: center;
      padding: auto 20px;
      transition: scale 0.1s ease-in-out, background-color .5s ease-in-out;
}
.chat:hover {
      background: var(--chat-hover-bg);
      cursor: pointer;
}
.chat > img {
      border: 1px solid var(--img-border-color);
      max-width: 25px;
      max-height: 25px;
      border-radius: 20px;
      margin: 10px;
}
/* chat page styling */
.chat-page {
      display: grid;
      grid-template-columns: 25% auto;
      height: 100vh;
      max-height: 100vh;
      overflow: hidden;
}

@media screen and (max-width: 1000px) {
      .chat-page {
            display: grid;
            grid-template-columns: 100%;
            height: 100vh;
            max-height: 100vh;
            overflow: hidden;
      }
      .chat-navigation {
            display: none;
      }
}



/* messages styling */
#messages {
      height: 100vh;
      display: grid;
      grid-template-rows: 7vh 83vh 10vh;
}


.messages-heading {
      height: 7vh;
      position: sticky;
      display: grid;
      box-shadow: 1px 2px 2px var(--messages-heading-shadow);
      grid-template-columns: 10% 85% 5%;
}
.messages-heading div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
}
.messages-heading img {
      border: 1px solid var(--img-border-color);
      height: 30px;
      width: 30px;
      margin-bottom: 5px;
      border-radius: 15px;
}

#view-messages {
      overflow-y: auto;
}
.message-info {
      font-size: 0.7em;
      display: grid;
      grid-template-columns:50% 50%;
      height: 30%;
}

.message {
      width: fit-content;
      border-radius: 20px;
      max-width: min(60%, 500px);
      box-shadow: 1px 2px 1px 2px var(--message-shadow);
      margin: 20px;
      padding: 10px;
      clear: both;
}

.message img {
      max-width: 20px;
      max-height: 20px;
      overflow: hidden;
      border: 1px solid var(--img-border-color);
      border-radius: 15px;
}

.recieved {
      float: left;
      border-radius: 0 15px 15px 15px;
      background-color: var(--recieved-message-bg);
}

.sent {
      border-radius: 15px 0 15px 15px;
      float: right;
      background-color: var(--sent-message-bg);
}

/* writing a message */
#write-message{
      display: grid;
      grid-template-columns: 20% 70% 10%;
}
#write-message > div {
      display: flex;
      align-items: center;
      justify-content: center;
}
#add-files {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
}
.toggle-buttons {
      display: none;
}

@media screen and (max-width: 1000px) {
      #write-message{
            grid-template-columns: 20% 60% 20%;
      }
      #add-files {
            display: none;
      }
      .toggle-buttons {
            display: block;
      }
}

#send-button {
     width: 40%;
     height: 50%;
}
textarea {  
      max-height: 70%;   
      width: 100%;
      height:inherit;
      outline: none;
      background-color: transparent;
      border: 2px solid var(--textarea-border-color);
      border-radius: 15px;
      box-shadow: 1px 2px 2px 2px var(--text-area-shadow);
      font-size: 1em;
      resize: none;
      padding: 10px 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}

