<main class="chat-page">
      <section class="menu">
            <section class="navigation">
                  <div class="">
                        <img src="/public/assets/favicon.svg" alt="page logo" width="20vw">            
                       <span>AfiChat</span>
                  </div>
                  <h1>Chats</h1>
                  <button>Menu</button>
            </section>
            <section id="chats">
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Jane
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        BIT GROUP
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Alan</div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Valencia
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Jane
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        BIT GROUP
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Alan
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Valencia
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Jane
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        BIT GROUP
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Alan
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Valencia
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        BIT GROUP
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Alan
                  </div>
                  <div class="chat">
                        <img src="/public/assets/favicon.svg" alt="na" width="20vw">
                        Valencia
                  </div>
            </section>
      </section>
      <section id="messages">
            <section class="heading">
                  <img src="/" alt="chat-photo" width="20vw">
                  <span>Jane</span>
                  <span>:::</span>
            </section>
            <section id="view-messages">
                  <div class="message sent">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span> 
                        <span>02:00 PM</span>
                        <p>Hello, how are you?</p>
                  </div>
                  <div class="message recieved">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span>
                        <span>02:00 PM</span>
                        <p>Hello, how are you?</p>
                  </div>
                  <div class="message recieved">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span>
                        <span>02:00 PM</span>
                        <p>Hello, how are you? It has been a long time since we last me dear.</p>
                  </div>
                  <div class="message sent">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span> 
                        <span>02:00 PM</span>
                        <p>Hello, how are you?</p>
                  </div>
                  <div class="message recieved">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span>
                        <span>02:00 PM</span>
                        <p>Hello, how are you?</p>
                  </div>
                  <div class="message recieved">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span>
                        <span>02:00 PM</span>
                        <p>Hello, how are you? It has been a long time since we last me dear.</p>
                  </div>
                  <div class="message sent">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span> 
                        <span>02:00 PM</span>
                        <p>Hello, how are you?</p>
                  </div>
                  <div class="message recieved">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span>
                        <span>02:00 PM</span>
                        <p>Hello, how are you?</p>
                  </div>
                  <div class="message recieved">
                        <img src="#" alt="jane-profile-photo">
                        <span>Jane</span>
                        <span>02:00 PM</span>
                        <p>Hello, how are you? It has been a long time since we last me dear.</p>
                  </div>
            </section>
            <section id="write-message">
                  <div>
                        <button>p</button>
                        <button>p</button>
                        <button>p</button>
                  </div>
                  <textarea type="text" id="message-input" placeholder="Type your message"></textarea>
                  <button id="send-button" onclick="send()">Send</button>
            </section>
      </section>
</main>
