<main>
      <link rel="stylesheet" href="/public/css/home.css">
        <section class="intro">
          <div class="carousel">
            <img src="/public/assets/main-image.png" alt="main image">
            <div class="scroll-progress ctr-row">
                <span>02</span><div id="carousel-bar"></div><span>04</span> <span>&lt &nbsp &gt</span>
            </div>
          </div>
          <div class="welcome grid-r-10-80-10">
              <div class="navigate ctr-row">
                  <div class="logo">
                    <img src="/public/assets/favicon.svg" alt="logo" width="30vw">
                    Afichat
                  </div>
                  <nav class="ctr-row">
                    <a href="http://">Chat</a>
                    <a href="http://">About</a>
                    <a href="http://">Account</a>
                  </nav>
              </div>
              <div class="welcome-text ctr-column-start">
                  <h1>
                    Chat with friends<br>
                    Safely and<br>
                    securely
                  </h1>
                  <em>With AFICHAT</em>
                  <hr>
                  <p>Make your communication easy and efficient <br>
                    with our smooth and secure chat app.
                  </p>
                  <a href="/app.php?page=chat">Join the community --&gt</a>
              </div>
              <div class="bottom-text ctr-row">
                  <img src="/public/assets/favicon.svg" alt="logo" width="20vw">
                  <p>&quot a community that eanbles you chat safely.&quot <em>&copy 2023 Alidante</em></p>
              </div>
          </div>
          <div class="settings grid-r-90-10 text-light">
              <div>
                  <div class="top-links ctr-row">
                    <a href="/settings"><h2>Settings</h2></a>
                    <button>customize &nbsp \/</button>
                  </div>
                  <div class="customize-container">
                    <div class="ctr-items">
                      <input type="checkbox" name="" id=""> 
                       dark mode
                    </div>
                    <div class="ctr-items">
                        customs
                    </div>
                    <div class="ctr-items">
                        desktop mode
                    </div>
                    <div class="ctr-items">
                        favorite color
                    </div>
                    <div class="ctr-items">
                        Cookies
                    </div>
                  </div>
              </div>
              <div class="ctr-items">
                  <div class="bottom-links ctr-row"> 
                      <h4>follow us on -</h4>
                      <a href="http://">ig</a>
                      <a href="http://">f</a>
                  </div>
              </div>
          </div>
        </section>
        <section class="features ctr-column">   
            <div class="card-a">
              <div id="card1" class="ctr-column card">
                <span class="card-name">Direct Messaging</span>
                <h2>CHATTING</h2>
                <P>Chat with you friends and partners privetly withoput interruptions.</P>
                <button>Message</button>
              </div>
              <div id="card2" class="ctr-column card">
                <span class="card-name">Society Together</span>
                <h2>COMMUNITIES</h2>
                <P>Join many groups together and announce to a learger audience</P>
                <button>Announce</button>
              </div>
              <div id="card3" class="ctr-column card">
                <span class="card-name">Entertainment</span>
                <h2>CHANNELS</h2>
                <P>Share and broadcasts and trend like you have always wanted.</P>
                <button>broadcast</button>
              </div>
            </div>
            <div class="card-b">
              <div id="card4" class="ctr-column card">
                <span class="card-name">Colaborate</span>
                <h2>GROUP</h2>
                <P>Send one message to many people who yu share a common theme.</P>
                <button>Chat Now</button>
              </div>
              <div id="card5" class="ctr-column card">
                <span class="card-name">Secure</span>
                <h2>ENCRYPTION</h2>
                <P>No need to worry all you conversations are private and secured.</P>
                <button>Learn More</button>
              </div>
              <div id="card6" class="ctr-column card">
                <span class="card-name">Explore</span>
                <h2>STORIES</h2>
                <P>Post your stories and get to show your success and events.</P>
                <button>Create</button>
              </div>
            </div>
        </section>
        <section class="about ctr-row">
           <div class="sec-3-container grid-r-70-30">
            <div class="top">
                <div class="about-text ctr-column-start">
                  <span>
                    <h2>Joining Africans</h2>
                    <p>Our aim is to join african communties together, <br>
                      and prommting good morals in the society. <br>
                      Lets promote our culture and values.
                    </p>
                  </span>
                  
                  <a href="/chat">Get Started</a>
                </div>
                <div class="sample-image">
                  <img src="/public/assets/homepage-design.jpg" alt="sample image">
                </div>
            </div>
             <div class="bottom">
                <div class="description">
                  <p>Africa's best chat app with all modern chat features.</p>
                </div>
                <div class="patnership ctr-row">
                  <span>Google</span>
                  <span>Youtube</span>
                  <span>Security</span>
                  <span>Videos</span>
                  <span>Music</span>
                </div>
             </div>
           </div>
        </section>
        <section class="outro">
          <div class="chat-images">
              <img class="phone" src="/public/assets/chat-messages.png" alt="phone chat">
              <img class="desktop" src="/public/assets/desktop-chat.png" alt="">
          </div>
          <div class="ctr-column outro-text">
              <h3>Maximize your communication chat on both desktop <br>and phone.</h3>
              <a href="/chat">Create a Channel</a>
          </div>
        </section>
</main>
<footer>
      <div class="top">
         <div class="links">
          <div class="ctr-row">
            <nav class="ctr-column-start">
              <a href="">Chat</a>
              <a href="">login</a>
              <a href="">create acount</a>
              <a href="">Home</a>
            </nav>
            <nav class="ctr-column-start">
              <a href="">About us</a>
              <a href="">contact</a>
              <a href="">support</a>
              <a href="">community</a>
            </nav>
          </div>
         </div>
         <div class="send-email ctr-items">
           <div>
            <H4>SEND AN EMAIL FOR ANY QUERIES</H4>
            <input type="text" placeholder="send an eamil"><button>--&gt</button>
           </div>
         </div>
      </div>
      <div class="bottom ctr-column">
        <div> f  ig ooo</div>
        <div>
          <a href="">info</a> .
          <a href="">support</a> .
          <a href="">community</a>
        </div>
        <div>
          <a href="">Terms of use</a> .
          <a href="">Privacy policy</a>
        </div>
        <div><em>&copy 2023 Alidante</em></div>
      </div>
</footer>