<header   view-transition-name: main-header;>
      <div class="logo">
            <img src="/public/assets/favicon.svg" alt="page logo" width="20vw">            
           <span>AfiChat</span>
      </div>
      <nav>
            <a href="/app.php?page=home"><i class="bi bi-house"></i> Home</a>
            <a href="/app.php?page=login"><i class="bi bi-person-check-fill"></i> Login</a>
            <a href="/app.php?page=signup"><i class="bi bi-person-plus"></i> Signup</a>
            <a href="/app.php?page=chat"><i class="bi bi-chat"></i> Chat</a>
      </nav>
</header>
<main   view-transition-name: main-header;>
        <section class="intro">
            <h1>Chat with Friends</h1>
            <p>Join our chat community and connect with people from around the world.</p>
        </section>
        <section class="features">
            <div>
                  <h1>Features</h1>
                  <ul>
                        <li>Real-time chat</li>
                        <li>Private messaging</li>
                        <li>User-friendly interface</li>
                  </ul>
            </div>
            <div>
                  <img src="/public/assets/favicon.svg" alt="an image of chat" width="200vh">
            </div>
        </section>
        <section class="about-us">
            <h1>About Us</h1>
            <p>Learn about our mission and team.</p>
        </section>
        <section class="join-us">
            <div>
                  <h1>Feel free to join us and chat with your family and Friends</h1>
            </div>
            <div>
                  <a href="/app.php?page=signup">Join us Today</a>
            </div>
            <div>
                  <a href="/app.php?page=login">Continue Chatting</a>
            </div>
        </section>
</main>
<footer>
      <div class="links">
            <div>
                  <h4>Our Pages</h4>
                  <ul>
                        <li><a href="/app.php?page=home"><i class="bi bi-home"></i> Home</a></li>
                        <li><a href="/app.php?page=login"><i class="bi bi-sign-in-alt"></i> Login</a></li>
                        <li><a href="/app.php?page=signup"><i class="bi bi-user-plus"></i> Signup</a></li>
                        <li><a href="/app.php?page=chat"><i class="bi bi-comments"></i> Chat</a></li>
                  </ul>
            </div>
            <div>
                  <h4>contact suport</h4>
                  <ul>
                        <li><a href="/app.php?page=home"><i class="bi bi-house"></i>Email: community.Afichat@support.ocm</a></li>
                        <li><a href="/app.php?page=login"><i class="bi bi-heart"></i>Phone: 010939495985</a></li>
                        <li><a href="/app.php?page=signup"><i class="bi bi-star"></i> Terms and conditions</a></li>
                        <li><a href="/app.php?page=chat"><i class="bi bi-comments"></i> About Afichat</a></li>
                  </ul>
            </div>
      </div>
      <div class="copyrights">
            <hr>
            <p>&copy; 2023 AfiChat</p>
      </div>
</footer>