<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="/public/assets/favicon.svg" type="image/x-icon">
      <link rel="stylesheet" href="/public/css/index.css">
      <!-- Option 1: Include in HTML -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
      {dynamic_content}
      <script src="/public/js/index.js"></script>
</body>
</html>