<div id="signup-form">
      <h2>Sign Up</h2>
      <form action="signup.php" method="post">
            <label for="new-username">Username:</label>
            <input type="text" id="new-username" name="new-username" required>

            <label for="new-password">Password:</label>
            <input type="password" id="new-password" name="new-password" required>

            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <button type="submit">Sign Up</button>
      </form>
</div>