<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" id="stylesheet">
    <link rel="icon" href="Files/myfavicon-img.svg" type="image/x-icon">
    <script src="chat.js" defer></script>
    <script src="send-receive.js" defer></script>
    <title>Wechat </title>
</head>
<body>
  <!-- CHAT PAGE FRAGMENT -->
  <div id="chat-page">
    <div class="settings" id="settings-menu">
       <h1>
        <button id="close_show_settings_button" onclick="showSettings()">
          <img src="Files/close-img.svg" alt=""  width="20vw" height="20vw">
        </h1>
       <ul id="home-link">
      <li><a id="theme" onclick="changeTheme()" href="#">
        <img id="theme-image" src="Files/dark-img.svg" width="20vw"  height="20vw" alt=""> Theme
    </a></li>
      <li><a href="#ll">
        <img src="Files/dashboard-img.svg" width="20vw"   height="20vw" alt=""> Dashboard
      </a></li>
      <li><a href="#ll">
        <img src="Files/group-img.svg"  width="20vw"  height="20vw" alt="">Groups
      </a></li>
      <li><a href="#ll">
        <img src="Files/inbox-img.svg" width="20" height="20vw" alt="">Inbox
      </a></li>
      <li><a href="#ll">
        <img src="Files/add-new-img.svg" width="20vw"  height="20vw" alt="">Add New
      </a></li>
      <li><a href="#ll">
        <img src="Files/logout-img.svg" width="20vw" height="20vw" alt="">Log Out
      </a></li>
      <li><a href="#ll">
        <img src="Files/about-us-img.svg" width="20vw" height="20vw" alt="">About Us
      </a></li>
      </ul>
    </div>
    <div class="chat-container" id="chat-container">
    <h1>
       <button id="show_settings_button" onclick="showSettings()">
        <img src="Files/menu-img.svg" alt="" width="20vw" height="20vw">
       </button>BIT GROUP 2023
    </h1>

    <!-- SEND A MESSAGE PART -->
    <div class="enter-text">
        <!-- <form action="/Server_Scripts/messages.php" method="post" id="message-form"> -->
      <input type="text" id="message-body" name="message_body" autocomplete="off" placeholder="Type your message here...">
      <button id="send-button" onclick="submitMessage();"><img id="send-img" src="Files/send-img.svg" alt=""></button>
        <!-- </form> -->
      <button id="add-file-button" type="button" onclick="actionButtons();"><img src="Files/add-files-img.svg" width="" height="" alt=""></button>
    </div>
        
    <div class="messages">
        <!-- floating buttons -->
        <div id="floating-buttons-container">
            <button class="floating-buttons">
                <img src="Files/files-img.svg" width="" height="" alt="">
            </button><br>
            <button class="floating-buttons">
                <img src="Files/mic-img.svg" width="" height="" alt="">
            </button><br>
            <button class="floating-buttons">
                <img src="Files/document-img.svg"  width="" height="" alt="">
            </button><br>
            <button class="floating-buttons">
                <img src="Files/camera-img.svg"  width="" height="" alt="">
            </button>
        </div>
        <!-- MESSAGES CONTAINER BODIES -->
          <!-- container for received messages -->
            <!-- <div class="recieved-container">
               <div class="sender-pic">
                  <img>
                </div>
                <div class="recieved">
                  <strong></strong>
                  <strong></strong>
                  <p></p>
                  <em></em>
                </div>  
            </div> 
           container for sent messages 
             <div class="sent-container">
                <div class="profile-pic">
                  <img>
                </div>
                <div class="sent">
                    <p></p>
                    <em></em>
                </div>
            </div> -->
    </div>
  </div>
  </div>
</body>
</html>