<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Layouts/style.css" id="stylesheet">
    <script src="/Layouts/script.js" defer></script>
    <title>Register on Wechat</title>
</head>
<body bgcolor="000000">
    <!-- SECURITY AND LOGIN PART -->
  
         <!-- REGISTER PAGE FRAGMENT -->
    <div id="register-page">
        <h1>Welcome to WeChat .....</h1>
        <div class="form">
            <!-- the registration form  -->
            <!-- submit usig PHP -->
            <form action="/Server_Scripts/index.php" method="POST">
               <div class="inputs">
                  <label for="user-name">Username:</label>
                  <input name="user_name" type="text" id="user-name" maxlength="50"><br>
               </div> 
               <div class="inputs">
                  <label for="phone-no">Phone NO:</label>
                  <input name="phone_no" type="text" id="phone-no" maxlength="13"><br>
               </div>
               <div class="inputs">
                  <label for="password">Password:</label>
                  <input name="password" type="text" id="password" maxlength="30"><br>
               </div>
               <div class="inputs">
                  <button  id="submit" name="submit" 
                  onclick="registeredSuccessifully()">Create Account
                </button>
                </div>
            </form>
        </div>
    </div>
    <!-- LOGIN PAGE FRAGMENT -->
    <div id="login-page">
        <h1>Welcome back to WeChat .....</h1>
        <div class="form">
            <form action="">
                <label for="phone-no">Phone NO:</label>
                <input type="text" id="phone-no" maxlength="13"><br>
                <label for="password">Password:</label>
                <input type="text" id="password" maxlength="30"><br>
            </form>
            <button   id="submit" name="submit" 
         onclick="registeredSuccessifully()">LOGIN
        </button>
        </div>
    </div>
   
    <!-- CHAT PAGE FRAGMENT -->
   <div id="chat-page">
    <div class="settings" id="settings-menu">
       <h1><button id="close_show_settings_button"
        onclick="showSettings()">
          <img src="/Layouts/Files/close-img.svg" 
          alt=""
          width="20vw"
          height="20vw"
          >
        </h1>
       <ul id="home-link">
      <li ><a href="#ll">
        <img src="/Layouts/Files/home-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
        Home
      </a></li>
      <li><a id="theme" onclick="changeTheme()" href="#">
        <img id="theme-image" src="/Layouts/Files/dark-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
       Theme
    </a></li>
      <li><a href="#ll">
        <img src="/Layouts/Files/dashboard-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
        Dashboard</a></li>
      <li><a href="#ll">
        <img src="/Layouts/Files/group-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
        Groups</a></li>
      <li><a href="#ll">
        <img src="/Layouts/Files/inbox-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
        Inbox</a></li>
      <li><a href="#ll">
        <img src="/Layouts/Files/add-new-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
        Add New</a></li>
      <li><a href="#ll">
        <img src="/Layouts/Files/logout-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
        Log Out</a></li>
      <li><a href="#ll">
        <img src="/Layouts/Files/about-us-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
        About Us</a></li>
       </ul>
    </div>
    <div class="chat-container" id="chat-container">
    <h1> <button id="show_settings_button"
          onclick="showSettings()">
            <img src="/Layouts/Files/menu-img.svg" 
            alt=""
            width="20vw"
            height="20vw"
            >
        </button>BIT GROUP 2023
    </h1>
        <div class="enter-text">
            <input type="text" id="message-body" name="message-body">
            <button id="send-button">
                <img id="send-img" src="/Layouts/Files/send-img.svg" 
                alt="">
            </button>
            <button 
            id="add-file-button" type="button" 
            onclick="actionButtons()">
                <img src="/Layouts/Files/add-files-img.svg" 
                width=""
                height=""
                alt="">
            </button>
        </div>
        
        <div class="messages">
             <!-- floating buttons -->
         <div id="floating-buttons-container">
            <button class="floating-buttons">
                <img src="/Layouts/Files/files-img.svg" 
                width=""
                height=""
                alt="">
            </button><br>
            <button class="floating-buttons">
                <img src="/Layouts/Files/mic-img.svg" 
                width=""
                height=""
                alt="">
            </button><br>
            <button class="floating-buttons">
                <img src="/Layouts/Files/document-img.svg" 
                width=""
                height=""
                alt="">
            </button><br>
            <button class="floating-buttons">
                <img src="/Layouts/Files/camera-img.svg" 
                width=""
                height=""
                alt="">
            </button>
        </div>
              <!-- container for received messages -->
              <div class="chat">
                <div class="sender-pic">
                    <img src="/Layouts/Files/user-img.svg"
                    width="20vw" 
                    height="20vw"
                    alt="">
                  </div>
                <div class="recieved">
                    <strong>Sender Name</strong>
                    <strong>~+254746977253</strong>
                    <p>
                        Yesterday I went for a walk</p>
                        <em>2:33 pm</em>
                    </div>  
              </div>
             
           <!-- container for sent messages -->
            <div class="message-and-profile-container">
                  <div class="profile-pic">
                    <img src="/Layouts/Files/user-img.svg"
                    width="20vw" 
                    height="20vw"
                    alt="">
                  </div>
                <div class="sent">
                    <strong>User Name</strong>
                    <strong>~+254748311679</strong>
                    <p>
                        I was out for a run this morning</p>
                        <em>2:33 pm</em>
                    </div>
            </div>

            <div class="message-and-profile-container">
                <div class="profile-pic">
                  <img src="/Layouts/Files/user-img.svg"
                  width="20vw" 
                  height="20vw"
                  alt="">
                </div>
              <div class="sent">
                  <strong>User Name</strong>
                  <strong>~+254748311679</strong>
                  <p>
                      I was out for a run this morning</p>
                   <em>2:33 pm</em>
                    </div>
          </div>





  <!-- container for received messages -->
  <div class="chat">
    <div class="sender-pic">
        <img src="/Layouts/Files/user-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
      </div>
    <div class="recieved">
        <strong>Sender Name</strong>
        <strong>~+254746977253</strong>
        <p>
            Yesterday I went for a walk</p>
            <em>2:33 pm</em>
        </div>  
  </div>
 
<!-- container for sent messages -->
<div class="message-and-profile-container">
      <div class="profile-pic">
        <img src="/Layouts/Files/user-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
      </div>
    <div class="sent">
        <strong>User Name</strong>
        <strong>~+254748311679</strong>
        <p>
            I was out for a run this morning</p>
            <em>2:33 pm</em>
        </div>
</div>

<div class="message-and-profile-container">
    <div class="profile-pic">
      <img src="/Layouts/Files/user-img.svg"
      width="20vw" 
      height="20vw"
      alt="">
    </div>
  <div class="sent">
      <strong>User Name</strong>
      <strong>~+254748311679</strong>
      <p>
          I was out for a run this morning</p>
       <em>2:33 pm</em>
        </div>
</div>
  <!-- container for received messages -->
  <div class="chat">
    <div class="sender-pic">
        <img src="/Layouts/Files/user-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
      </div>
    <div class="recieved">
        <strong>Sender Name</strong>
        <strong>~+254746977253</strong>
        <p>
            Yesterday I went for a walk</p>
            <em>2:33 pm</em>
        </div>  
  </div>
 
<!-- container for sent messages -->
<div class="message-and-profile-container">
      <div class="profile-pic">
        <img src="/Layouts/Files/user-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
      </div>
    <div class="sent">
        <strong>User Name</strong>
        <strong>~+254748311679</strong>
        <p>
            I was out for a run this morning</p>
            <em>2:33 pm</em>
        </div>
</div>

<div class="message-and-profile-container">
    <div class="profile-pic">
      <img src="/Layouts/Files/user-img.svg"
      width="20vw" 
      height="20vw"
      alt="">
    </div>
  <div class="sent">
      <strong>User Name</strong>
      <strong>~+254748311679</strong>
      <p>
          I was out for a run this morning</p>
       <em>2:33 pm</em>
        </div>
</div>
  <!-- container for received messages -->
  <div class="chat">
    <div class="sender-pic">
        <img src="/Layouts/Files/user-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
      </div>
    <div class="recieved">
        <strong>Sender Name</strong>
        <strong>~+254746977253</strong>
        <p>
            Yesterday I went for a walk</p>
            <em>2:33 pm</em>
        </div>  
  </div>
 
<!-- container for sent messages -->
<div class="message-and-profile-container">
      <div class="profile-pic">
        <img src="/Layouts/Files/user-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
      </div>
    <div class="sent">
        <strong>User Name</strong>
        <strong>~+254748311679</strong>
        <p>
            I was out for a run this morning</p>
            <em>2:33 pm</em>
        </div>
</div>

<div class="message-and-profile-container">
    <div class="profile-pic">
      <img src="/Layouts/Files/user-img.svg"
      width="20vw" 
      height="20vw"
      alt="">
    </div>
  <div class="sent">
      <strong>User Name</strong>
      <strong>~+254748311679</strong>
      <p>
          I was out for a run this morning</p>
       <em>2:33 pm</em>
        </div>
</div>
  <!-- container for received messages -->
  <div class="chat">
    <div class="sender-pic">
        <img src="/Layouts/Files/user-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
      </div>
    <div class="recieved">
        <strong>Sender Name</strong>
        <strong>~+254746977253</strong>
        <p>
            Yesterday I went for a walk</p>
            <em>2:33 pm</em>
        </div>  
  </div>
 
<!-- container for sent messages -->
<div class="message-and-profile-container">
      <div class="profile-pic">
        <img src="/Layouts/Files/user-img.svg"
        width="20vw" 
        height="20vw"
        alt="">
      </div>
    <div class="sent">
        <strong>User Name</strong>
        <strong>~+254748311679</strong>
        <p>
            I was out for a run this morning</p>
            <em>2:33 pm</em>
        </div>
</div>

<div class="message-and-profile-container">
    <div class="profile-pic">
      <img src="/Layouts/Files/user-img.svg"
      width="20vw" 
      height="20vw"
      alt="">
    </div>
  <div class="sent">
      <strong>User Name</strong>
      <strong>~+254748311679</strong>
      <p>
        In this example, the height property of the div element is set to 100vh, which means it will always occupy the full height of the viewport (i.e., the visible area of the browser window). The overflow-y property is set to auto to enable vertical scrolling when the content inside the div exceeds its height.</p>
       <em>2:33 pm</em>
        </div>
</div>









        </div>
    </div>
   </div>
 
</body>
</html>